.container
  {color: #a5be97;}

.jumbotron {font-size: 400px; color: white}

body, html {
      height: 100%;
      margin: 0;
  }

.bg {
         /* The image used */
         background-image: url("../images/171122_InCommon_7992.jpg");

         /* Full height */
         height: 100%;

         /* Center and scale the image nicely */
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
     }
