body, html {
      height: 100%;
      margin: 0;
  }
.site-wrapper{
   background-image: url("../images/171122_InCommon_7992.jpg");
   height: 100%;
   max-width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a5be97;
    height: 10%;
}

li {

    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
    font-family: "Avenir";
}

li a:hover {
    background-color: #111;
}
#logo {
  float: left;
}
.cover-heading{
  color:#f58f8f;
  font-family: "Avenir";
  font-size: 1000%;
}
.lead{
    font-size: 200%;
    font-family: "Avenir";

}

a{
  color: #898989;
}
