.container
  {color: #a5be97;}

h1{

  font-size: 400%;
  color: white

}
h2{

  font-size: 200%;
  color: white

}

body, html {
      height: 100%;
      margin: 0;
  }
.site-wrapper{
   background-image: url("../images/171122_InCommon_7992.jpg");
   height: 100%;
   max-width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
